.icon-plus {
  width: 18px;
  height: 18px;
  background-image: url("@/assets/icons/plus_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}

.icon-delete-activity-item {
  width: 18px;
  height: 18px;
  background-image: url("@/assets/icons/activity-item-delete_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}

.icon-back {
  width: 20px;
  height: 20px;
  background-image: url("@/assets/icons/back_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.icon-edit-title {
  width: 20px;
  height: 20px;
  background-image: url("@/assets/icons/todo-title-edit_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.icon-edit-todo-item {
  width: 20px;
  height: 20px;
  background-image: url("@/assets/icons/todo-title-edit_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.5;
}

.icon-danger-md {
  width: 112px;
  height: 112px;
  background-image: url("@/assets/icons/dialog-delete-icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.icon_info {
  width: 24px;
  height: 24px;
  background-image: url("@/assets/icons/info_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.icon-sort {
  width: 24px;
  height: 24px;
  background-image: url("@/assets/icons/arrows-sort_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.icon-sort-sm {
  width: 20px;
  height: 20px;
  background-image: url("@/assets/icons/arrows-sort_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}



.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon-plus-avatar {
  width: 30px;
  height: 30px;
  background-image: url("@/assets/icons/plus_icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}

.issue-icon {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.expand-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
